@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


:root{
    --yellowML: rgb(250, 230, 77);
    --yellowData: rgb(253, 246, 167);
    --gray30: #303030;
    --purple: #232D7B;
    --lightGray: rgb(235, 235, 235);
}

html,
body{
    font-family: 'Roboto';
    color: var(--purple);
    font-size: 18px;
}
